/* example class names 
.button__send {
  &--news {

  }

  &--form {

  }
  &:hover {

  }
}
*/

//#B378FF F778B9
$color_violet : #B378FF;
$color_rose : #F778B9 ;
$color_blue : #486DB7;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

/* Header Styles*/
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
  padding: 5px 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  .listMenuHambur__title{
    color: $color_violet;
    margin: 15px 0px 5px 16px;
  }
  .listMenuHambur__hr{
    margin: 0 16px;
  }
  .listMenuHambur__list, .footer__context__list{
    list-style: none;
    padding: 0;
    margin: 5px 16px 5px 16px;
  }
  .listMenuHambur__link, .context__list__Link{
    text-decoration: none;
    text-decoration-color: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .listMenuHambur__link--color{
    color: black;
  }
  .listMenuHambur__link:hover{
    color: $color_violet;
  }
  #menuDeployment{
    display: none;
    position: absolute;
    background-color: white;
    top: 40px;
    left: 30px;
    width: 240px;
    border: solid 1px gray;
    border-radius: 4px;
    z-index: 1;
    animation-name: deploy;
    animation-duration: 2s;
  }
  @keyframes deploy {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
}

.logo__img{
  width: 100%;
}
.navBar__search{
  margin: 0;
  border-color: rgb(152, 152, 152);
  .navBar__search__img{
    background-color: $color_violet;
    border-radius: 2px;
    margin: 0;
    padding: 5px;
    color: white;
  }
}

.container__Search{
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 1;
  animation: opacityCard 2s;

  .container__Search__input{
  padding: 16px;
  background-color: white;
  border-style: dashed;
  border-color: rgb(202, 202, 202);
  border-radius: 4px;
  width: 80%;
  height: 20px;
  text-align: center;
  }
  .container__Search__a{
    font-size: 32px;
    color: $color_violet;
  }
}

.container__Search:active{
  opacity: 0;
}

/* Footer Styles*/
.footer{
  background-color: #265E6C;
  color: white;
}
.footer__context{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__context__img{
  height: 100%;
  margin: 0 20px;
}
.footer__division__img{
  width: 88%;
}
.footer__context__list{
  list-style: none; 
  display: flex;
  flex-direction: row;
  .context__list__Link{
  text-decoration: none;
  }
  .context__list__Link:hover{
    color: $color_violet;
}
}
.footer__context__list li{
  margin: 20px;
}
.footer__context--margin{
  margin: 0 15%;
}

/* Container Styles*/
.container{
  position: relative;
  top: 0px;
  left: 0px;
} 
.container__home{
  text-align: center;
  margin: 20px;
}
.container__text{
  position: absolute;
  top: 15%;
  left: 10%;
  width: 300px;
}
.container__text__h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.02em;
}
.container__text__h1__p{
  margin: 0;
  display: inline;
  color: $color_rose ;
}
.container__text__h3{
  font-size: 24px;
}
.container__text__p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.context__list__Link--color, .text--color{
  color: white;
}
.container__text--right{
  position: absolute;
  top: 15%;
  right: 10%;
  width: 300px;
  text-align: right;
}
.cards__home{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px;
  gap: 1em;
}  
.card__body__button{
  margin: 5px;
  padding: 5px;
}
.card__body__h1{
  margin: 20px;
}
.card__body__button a{
  text-decoration: none;
}
.container__modal{
  margin: auto;
  position: fixed;
  top: 30%;
  left: 38%;
  width: 300px;
  background-color: white;
  z-index: 1;
  animation: opacityCard 2s;
  align-items: center;
}
.card__body__button--close{
  position: absolute;
  top: 10px;
  right: 10px;
}
/* Form Styles*/
.container__formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 200px;
  .container__form{
    width: 320px;
    margin: auto 0px auto 20px ;
    display: flex;
    flex-direction: column;
  }
  .container__form__email, .container__form__select, .container__form__submit{
    margin-top: 10px;
    height: 25px;
  }
  .container__form__textArea{
    margin-top: 10px;
  }
  
  .container__form__submit:hover{
    background-color: #8650cc;
  }
}
.container__form__submit, .card__body__button{
    background-color: $color_violet;
    border-style: none;
    border-radius: 4px;
    color: white;
  }
/*Be Mother*/
.cards__section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
  gap: 2rem;
}

.card{
  width: 220px;
  border-radius: 4px;  
  margin: 0 auto;
  box-shadow: 10px 10px 20px gray;
  text-align: center;
}
.card:hover{
  position: relative;
  top: 0;
  left: 0;
  animation-name: opacityCard;
  animation-duration: 2s;
  transform: scale(1.1);
}
@keyframes opacityCard {
  from{
      opacity: 0.5;
  }
  to{
      opacity: 1;
  }
}
.card__img{
  width: 100%;
  height: 150px;
  border-radius: 4px 4px 0 0;
}
.card__body__h6{
  margin: 0 0 10px 5px;
  color: $color_rose ;
  text-align: left;
}
.card__body__h5{
  margin: 5px;
  text-align: left;
}
.card__body__p{
  margin: 5px;
  font-size: 15px;
  text-align: justify;
}

/*Parto*/
.container__giveBirth{
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  width: 90%;
  .container__giveBirth__body{
    position: relative;
    width: 90%;
    margin: 20px;
    text-align: justify;
    .container__giveBirth__h1{
      color: $color_blue;
      margin: 10px;
    }
    .container__giveBirth__h3{
      font-size: 18px;
      margin: 10px;
      .container__giveBirth__h3__p{
        display: inline;
        color: $color_violet;
      }
    }
  }
  .container__giveBirth__footer2{
    width: auto;
  }
  .container__giveBirth__img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition-property: opacity;
    transition-duration: 2s;
  }
  .container__giveBirth__img:hover{
    opacity: 0;
  }
  .container__giveBirth__footer{
    .container__giveBirth__footer__img{
      width: 100%;
    }
  }
}
.container__notFound{
  display: flex;
  flex-direction: column;
  width: 100%; 
  height: 700px;
  justify-content: center;
  align-items: center;
  .container__notFound__a{
    background-color: $color_violet;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    color: white;
  }
}
/*Media Querys*/
@media all and (max-width: 599px){
   /* Header Styles*/
   .container__Search{
    .container__Search__input{
    width: 60%;
    }
  }
  
  .container__Search:active{
    opacity: 0;
  }
   /* Home Styles*/
  .container__text{
      width: 100px;
      height: 100px;
  }
  .container__text__h1{
      font-size: 15px;
      line-height: 15px;
  }
  .container__text__h3{
      font-size: 10px;
      line-height: 15px;
  } 
  .container__text--right{
      width: 100px;
  }
  .container__text__p{
      font-size: 8px;
      line-height: 8px;
  }
  .cards__home{
      grid-template-columns: repeat(1, 1fr);
      margin: 25px;
  }
  .container__modal{
      top: 30%;
      left: 20%;
  }
  /* Footer Styles*/
  .footer__context{
      flex-direction: column;
  }
  .footer__context__img{
      margin-top: 20px;
  }
  
  .footer__context__list li{
      margin: 5px;
  }
  
  .container__formulario{
      margin: 10px 10px;
  }
  .container__formulario h1{
      margin: 10px;
      text-align: center;
  }
  /*Be Mother*/
  .cards__section{
      grid-template-columns: repeat(1, 1fr);
      margin: 20px;
      gap: 2em;
  }
  .card{
      width: 90%;
  }
  /*Parto*/
  .container__giveBirth{
    width: 100%;
    flex-direction: column;
    margin: 10px 0;

    .container__giveBirth__img{
      width: 90%;
      height: 85%;
      position: static;
    }
    .container__giveBirth__img:hover{
      opacity: 1;
    }
    .container__giveBirth__body{
      text-align: center;
      width: 90%;
      margin: 20px 0;
      .container__giveBirth__h1{
        text-align: justify;
        font-size: 20px;
        color: $color_blue;
        margin: 0;
      }
      .container__giveBirth__h3{
        text-align: justify;
        font-size: 12px;
      }
      
    }
    .container__giveBirth__footer{
      .container__giveBirth__footer__img{
        width: 90%;
      }
    }  
  }
  .container__notFound{
    .container__notFound__h1{
      text-align: center;
    }
  }
}