/* example class names 
.button__send {

}
.button__send:hover {
  
}

.button__send--news {

}

.button__send--form {

}*/

/* Header Styles*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    padding: 5px 0px;
}
.listMenuHambur__title{
    color: #B378FF;
    margin: 15px 0px 5px 16px;
}
.listMenuHambur__hr{
    margin: 0 16px;
}
.listMenuHambur__list, .footer__context__list{
    list-style: none;
    padding: 0;
    margin: 5px 16px 5px 16px;
}
.listMenuHambur__list li{
    display: flex;
    justify-content: space-between;
}
.listMenuHambur__link, .context__list__Link{
    text-decoration: none;
    text-decoration-color: none;
}
.listMenuHambur__link--color{
    color: black;
}
.logo__img{
    width: 100%;
}
#menuDeployment{
    display: none;
    position: absolute;
    background-color: white;
    top: 40px;
    left: 30px;
    width: 250px;
    z-index: 1;
}
#searchDeployment{
    display: none;
    position: absolute;
    top: 12px;
    right: 80px;
}
/* Footer Styles*/
.footer, .context__list__Link--color{
    background-color: #265E6C;
    color: white;
}
.footer__context{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__context--margin{
    margin: 0 15%;
}
.footer__context__img{
    height: 100%;
    margin: 0 20px;
}
.footer__division__img{
    width: 88%;
}
.footer__context__list--display{
    display: flex;
    flex-direction: row;
}
.footer__context__list li{
    margin: 20px;
}
.context__list__Link:hover{
    text-decoration: underline;
    text-decoration-color: white;
    
}
/* Container Styles*/
.container{
    position: relative;
    top: 0px;
    left: 0px;
}
.container__text{
    position: absolute;
    top: 15%;
    left: 10%;
}
